/venv/
*.pyc
/NiserCodeLabBackend/NiserCodeLabBackend/__pycache__/
/NiserCodeLabBackend/db.sqlite3

NiserCodeLabFrontend/logs
NiserCodeLabFrontend/*.log
NiserCodeLabFrontend/npm-debug.log*
NiserCodeLabFrontend/yarn-debug.log*
NiserCodeLabFrontend/yarn-error.log*
NiserCodeLabFrontend/pnpm-debug.log*
NiserCodeLabFrontend/lerna-debug.log*
NiserCodeLabFrontend/.vscode/*

